body{
    font-family : Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 20px;
    font-weight: lighter;
    text-align: center;
   }

   header, footer {
    color: var(--headcolor);
    padding: 10px;
  }
  header  h1 {
    text-shadow: 2px 2px grey;
    margin-top: 0px;
  }
  header img {
    float:left;
    margin-right: 5px;
  }

   body{
    margin: 0;
    height: 100vh;
    background: linear-gradient(white, rgb(254, 224, 229));
    animation: gradient 5s ease infinite; 
   }


   nav {
    margin: 0;
  }
  .navbar {
    overflow: hidden;
    background-color: rgb(238, 221, 224);
    margin: 0;
    padding: 0;
  }
  
  /* Navigation links */
  .navbar a {
    float: left;
    font-size: 16px;
    color: rgb(228, 108, 122);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The subnavigation menu */
  .subnav {
    float: left;
    overflow: hidden;
    background-color: rgb(192, 46, 73)  ;
    margin: 0;
  }
  
  /* Subnav button */
  .subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color:   rgb(192, 46, 73);
    font-family: inherit;
  
  }
  
  /* Add a red background color to navigation links on hover */
  .navbar a:hover, .subnav:hover .subnavbtn {
     color: rgb(71, 0, 0);
  }
  
  /* Style the subnav content - positioned absolute */
  .subnav-content {
    display: none;
    position: absolute;
    left: 10px;
    background-color:  rgb(192, 46, 73);
    width: 100%;
    z-index: 1;
    padding-right: 0;
  }
  
  /* Style the subnav links */
  .subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
  }
  
  /* Add a grey background color on hover */
  .subnav-content a:hover {
    background-color: rgb(238, 200, 211);
    color: rgb(231, 66, 66);
  }
  
  /* When you move the mouse over the subnav container, open the subnav content */
  .subnav:hover .subnav-content {
    display: block;
  }

  section {
    color: black;
    width: 60%;
    margin: 5% auto;
    border: 2px solid grey;
    padding: 10px;
    background:var(--bgcolor);
    border-radius: 10px;
    box-shadow: 5px 5px 5px black
  }
 
  .box {
    border-radius: 15px;
    box-sizing: 40vw 40vw 40vw 40vw;
    width: 50vw;
    padding: 50px;
    display: flex;
    height: 20vw;
    margin-left: 20%;
    background-color: white;
    animation: fadeInUp 2s;
  }

@keyframes fadeInUp {
  0% {
    transform: translateY(15%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
.info{
  font-family: Arial, Helvetica, sans-serif;
  justify-content: right;
}