body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255, 235, 239);
}


nav {
    margin: 0;
  }
  .navbar {
    overflow: hidden;
    background-color: rgb(218, 129, 141);
    margin: 0;
    padding: 0;
  }
  
  /* Navigation links */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  input:focus{
    color:rgb(190, 215, 226);

  }